# output directories
_site/
dist/
build/

# developer tools
.git/
node_modules/
__pycache__/
.vim/
.vscode/
.idea/
pg/
.swc/
pnpm-lock.yaml

# caches
.cache/
.parcel-cache/
.mypy_cache/
.next/
.netlify/
.wrangler/

# phoenix
deps/
_build/
.elixir_ls
assets/
priv/
